@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal-Bold.woff2') format('woff2'),
        url('Tajawal-Bold.woff') format('woff'),
        url('Tajawal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal-Medium.woff2') format('woff2'),
        url('Tajawal-Medium.woff') format('woff'),
        url('Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal-Light.woff2') format('woff2'),
        url('Tajawal-Light.woff') format('woff'),
        url('Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('YanoneKaffeesatz-Regular.woff') format('woff'),
        url('YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff'),
        url('EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

